<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBankingv1" >
	<listeners>
		<listener class-name="com.intbanking.utilities.Reporting"></listener>
	</listeners>

	<test name="bankingapp test firefox">
		<parameter name="browser" value="firefox"/>
		<classes>
			<class name="com.inetbanking.testCases.TC_LoginTest_001" />
		</classes>
	</test>
	<test name="bankingapp test chrome">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.inetbanking.testCases.TC_LoginTest_001" />
		</classes>
	</test>
</suite> 
